h1{
    font-size: 45pt;
    margin: 0 auto;
    text-align: center;
}

h2{
    font-size: 25pt;
    margin: 0 auto;
    text-align: center;
}

/* #rainbow{
  -webkit-animation: rainbow 1s infinite; 
} */

#chart{
    margin: 0 auto;
    max-width: 400px;
    max-height: 400px;
    padding: 10%;
}